.form-group {
    text-align: left;
    position: relative;
}

.contact-form {
    max-width: 750px;
    margin: 64px auto;
    margin-bottom: 112px !important;
}

.contact-form .form-group {
    margin-bottom: 44px;
}

.alert-danger {
    background-color: #f8d7da !important;
    border-color: #f5c6cb !important;
    text-align: left;
    opacity: 1;
    transition: all 1000ms linear;
}

.alert-success {
    background-color: #d4edda !important;
    border-color: #c3e6cb !important;
    text-align: left;
}

.alert-shown {
    visibility: visible;
    opacity: 1;
    transition: opacity 250ms linear;
}

.alert-hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 250ms, opacity 250ms linear;
}

.contact-form label,
#user-detail-form label {
    line-height: 2;
    text-align: left;
    display: block !important;
    margin-bottom: 13px !important;
    margin-top: 20px;
}

/* desktop */
@media only screen and (min-width:992px) {
    #submit-contact-btn {
        width: 163px;
    }

    .flex-row-space {
        margin: 0 auto !important;
        justify-content: space-between;
        align-items: flex-start;
    }
}

/* tablet and mobile */
@media only screen and (max-width:991px) {
    #submit-contact-btn {
        width: 100%;
        margin-top: 15px;
        margin-bottom: 50px;
    }

    .flex-row-space {
        margin: 0 auto !important;
        justify-content: space-around;
    }

}

@media only screen and (min-width: 768px) {

    #contactFormFirstName,
    #contactFormLastName {
        width: 357px;
    }

    #contactFormEmail {
        width: 100%;
    }

    #contactFormSubject {
        width: 555px;
    }

    #contactFormMessage {
        width: 100%;
    }
}