.containerX {
    display: flex;
    text-align: left;

    .container {
        padding-top: 3rem;
        padding-bottom: 3rem;
        margin-right: unset;
        margin-left: 5rem;
        width: auto;

        .container-title {
            height: 4em;
        }

        .form-title {
            height: 2em;
            margin-bottom: 2rem;
        }

        .lcdd-form {

            .form-group {
                margin-bottom: 44px;

                label {
                    line-height: 2;
                    text-align: left;
                    display: block !important;
                    margin-bottom: 13px !important;
                    margin-top: 20px;
                }

                .input-group {
                    position: relative;

                    .input-group-text {
                        position: absolute;
                        height: 95%;
                        right: 0px;
                        z-index: 10;
                        border: none;
                        margin-top: 1px;
                    }

                    .form-control {
                        padding-right: 42px;
                        border-radius: 0.25rem !important;

                    }

                    .form-control.is-invalid {
                        background-image: none;
                    }

                    i {
                        position: absolute;
                        right: 10px;
                        top: 15%;
                        z-index: 10;
                    }

                }

                #lastNameInputGroup,
                #firstNameInputGroup,
                #myProfileLastName,
                #myProfileFirstName {
                    width: 293px;
                }

                #emailInputGroup,
                #myProfileEmail {
                    width: 457px;
                }

                #cityInputGroup,
                #myProfileCity {
                    width: 360px;
                }

                .passwordInputGroup,
                #myProfilePassword {
                    width: 458px;
                }

                &.submit-group {
                    text-align: right;
                }
            }

        }
    }

}