.loadingError {
    color: var(--danger);
    font-weight: bold;
}
.textContainer {
    color: 'white';
    font-family: 'Segoe UI';
    text-shadow: 1px 1px 2px black;
}

.cards-container {
    padding-left: 200px;
    padding-right: 200px;
}
.domaineexpretise__container {
    margin-top: 50px;
}
@media only screen and (max-width: 767px) {
    .domaineexpretise__container {
        display: none;
        margin-right: 15px;
    }
}
