
 .textContainer  {
    color: white;
    font-family: 'Segoe UI';
    text-shadow: '1px 1px 2px black';
}


.title  {
    left: 27.71%;
    right: 27.64%;
    top: 26.58%;
    bottom: 60.3%;
    font-family: 'Segoe UI';
    font-style: 'normal';
    font-weight : 300;
    font-size: 71px;
    line-height: 79px;
    margin-bottom: 20px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sub-title {
    height: 26px;
    left: 373px;
    top: 255px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 50px;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.form {
    width: 1140px;
    height: 52px;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-sizing: border-box;
}

.form::placeholder {
    width: 211px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #999999;
}

#overlay {
    height: 602px;
    left: 0px;
    top: 0px;
    background: linear-gradient(185.5deg, rgba(51, 51, 51, 0.04) 8.87%, 
    rgba(51, 51, 51, 0.42) 31.46%, 
    rgba(51, 51, 51, 0.74) 69.43%, 
    rgba(51, 51, 51, 0) 95.61%), 
    url(./../../../assets/home/concept.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}



