.background-transparency  {
    background-color:#FFFFFF;
}

.questions-attente-title  {
    left: 6.15%;
    right: 73.77%;
    top: 0%;
    bottom: 90.43%;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 350;
    font-size: 30px;
    line-height: 33px;
    width: 268px;
    height: 33px;
    color: #113F59;
}

.styled-card-questions  {
   width: 1140px;
   height: 53px;
   margin-bottom: 50px;
   border: 2px solid #BDBDBD;
   border-radius: 3px;
   background-color: #FFFFFF;
   box-sizing: border-box;
}

.questions  {
   width: 826px;
   height: 24px;
   font-family: 'Segoe UI';
   font-style: normal;
   font-size: 16px;
    margin: 10px;
    
}

.likes-container  {
    size: 21px;
    font-weight: 350;
    font-style: normal;
    width: 76px;
    height: 49px;
    color: #113F59;
    background-color: #113F59;
    border-radius: 0px 1px 1px 0px;
    flex: 0 0 7.1%;

}

.number-likes  {
    margin: 10px;
    color: #FFFFFF;
    width: 14px;
    height: 20.3px;
    font-style: normal;
    font-family:  Roboto;
    size: 16px;
    font-weight: bold;
}

.icon {
    color: black;
}