.jumbotron {
    padding: 0px !important;
}

.container-transparent {
    min-height: inherit;
    padding-left: clamp(10px, 50%, 50px) !important;
    padding-right: clamp(10px, 50%, 50px) !important;
    background: rgba(255, 255, 255, 0.97);
    padding-bottom: min(150px) !important;
}

.container form,
.container-transparent form {
    margin-bottom: 20px;
}

.container-header .row {
    margin: auto;
}


.container-transparent h1,
.container-transparent h2,
.container-transparent h3,
.container-transparent h4,
.container-transparent h5,
.container-transparent h6 {
    padding-left: 0;
    text-align: left;
}

.role-image {
    margin: 34px 0;
}

.role-image:hover {
    cursor: pointer;
}

.role-image:hover path,
.role-image-clicked path {
    fill: #113F59;
}

.role-image:hover rect,
.role-image-clicked rect {
    stroke: #113F59;
    stroke-width: 3;
}

.role-image:focus {
    outline: unset;
}

#user-detail-form .form-group {
    margin-bottom: 2rem;
}

#user-detail-form #submit-btn {
    margin-top: 1rem;
}

input.form-check-input {
    width: unset;
    margin-top: 0.4rem;
}

label.label-check {
    margin-left: 1.25rem;
    margin-bottom: 0;
    margin-top: 0;
}

.img-button {
    border-radius: 5px;
}

.img-button:hover {
    cursor: pointer;
    box-shadow: 3px 5px 0px #113F59;
}

div.text-standard {
    color: var(--gray-dark);
    font-weight: 300;
    font-size: 20px;
    text-align: justify;
}

@media screen and (min-width: 768px) {
    #inscriptionLastName,
    #inscriptionFirstName {
        width: 344px;
    }

    #inscriptionCity {
        width: 469px;
    }

    #inscriptionEmail {
        width: 100%;
    }

    #inscriptionPassword {
        width: 469px;
    }
}

@media screen and (max-width: 991px) {
    .container-transparent {
        max-width: 100% !important;
        padding-left: 25px !important;
        padding-right: 25px !important;
    }

    .container-transparent-large {
        max-width: 1300px !important;
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    .role-image {
        margin: 12px 0;
    }
}


@media screen and (min-width: 992px) {
    .container-transparent {
        max-width: 100% !important;
        padding-left: clamp(10px, 50%, 95px) !important;
        padding-right: clamp(10px, 50%, 95px) !important;
    }

    .container-transparent-large {
        max-width: 1300px !important;
    }

    #inscriptionLastName,
    #inscriptionFirstName {
        width: 360px;
    }

    #inscriptionCity {
        width: 458px;
    }

    #inscriptionEmail {
        width: 100%;
    }

    #inscriptionPassword {
        width: 458px;
    }

}

@media screen and (min-width: 1120px) {
    .container-transparent {
        max-width: 100% !important;
        padding-left: clamp(10px, 50%, 195px) !important;
        padding-right: clamp(10px, 50%, 195px) !important;
    }

    .container-transparent-large {
        max-width: 1300px !important;
        padding-left: 25px !important;
        padding-right: 25px !important;
    }
}

@media screen and (min-width: 1190px) {
    .container-transparent {
        max-width: 1132px !important;
        padding-left: 195px !important;
        padding-right: 195px !important;
    }

    .container-transparent-large {
        max-width: 1300px !important;
        padding-left: 80px !important;
        padding-right: 80px !important;
    }
}
