#lcdd-header {
    top: 0;
    width: 100%;
    position: fixed;
    transition: all 0.3s ease;
    z-index: 100;
}

#lcdd-header.hide {
    top: -99px;
}

#lcdd-header>.navbar {
    padding-left: 2em !important;
    padding-right: 2em !important;
}

#lcdd-header .navbar-nav {
    flex-wrap: wrap;
    justify-content: flex-end;
    flex-grow: 1;
}

#lcdd-header #navbar-main {
    justify-content: center;
}

#lcdd-header #navbar-right {
    flex-grow: unset;
}

#lcdd-header .nav-item,
#lcdd-header .nav-item .nav-link {
    white-space: nowrap;
    padding-left: 0.75rem !important;
    padding-right: 0.75rem !important;
    font-weight: 350 !important;
    font-size: 1.125rem;
    color: rgba(255, 255, 255, 0.93) !important;
}

#lcdd-header .nav-item.active,
#lcdd-header .nav-item .nav-link.active {
    font-weight: 700 !important;
}

/* dropdown nav button */
#lcdd-header .dropdown {
    padding-right: 0 !important;
}

.navbar .dropdown:hover .dropdown-menu {
    display: block;
}

.navbar .dropdown-menu {
    margin: 0;
    padding: 0;
    min-width: 250px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 0 !important;
}

.navbar .dropdown-menu .dropdown-item {
    padding: 10px 25px;
    font-size: 0.9rem;
    transition: font-size .01s ease;
}

.navbar .dropdown-menu .dropdown-item:hover {
    font-size: medium;
}

.navbar .dropdown-menu .dropdown-item:focus {
    font-size: medium;
    background: #f8f9fa;
}

#lcdd-header #connexion-btn:hover {
    text-decoration: underline;
}