.modal-header {
    .close {
        position: absolute;
        right: 1rem;
        font-size: 2rem;
        font-weight: 400;
    }
}

.container-login {
    width: 464px !important;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    padding-left: 0 !important;
    padding-right: 0 !important;
    border-radius: 4px;
}

.login-header {
    padding: 32px 32px 10px 32px;
    text-align: left;

    h1 {
        margin-bottom: 24px;
    }
}

.login-body {
    padding: 20px 32px 57px 32px;
}

.login-body-center {
    * {
        text-align: center;
    }
}

.login-options {
    margin-bottom: 40px;
}

.FC-btn {
    display: flex !important;
    align-items: center;
    padding: 0 16px !important;

    &:hover {
        background-color: var(--white) !important;
        color: var(--fc) !important;
        text-decoration: underline !important;
        --shadow: 0 10px 6px -6px #777;
        box-shadow: var(--shadow);
    }
}

.FC-btn-email {
    display: flex !important;
    align-items: center;
    padding: 0 16px !important;
}

.FC-text {
    padding-left: 45px;
    font-weight: 350 !important;
    font-size: 20px !important;
    text-align: left;
    color: var(--fc) !important;
}

.FC-text-email {
    padding-left: 45px;
    font-weight: 350 !important;
    font-size: 20px !important;
    text-align: left;
    color: #F2F2F2 !important;
}

.FC-text-bold {
    font-weight: 400 !important;
}

#connexion-btn {
    white-space: nowrap;
}