.modal-header .close {
    position: absolute;
    right: 1rem;
    font-size: 2rem;
    font-weight: 400;
}

.container-login {
    width: 464px !important;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    padding-left: 0 !important;
    padding-right: 0 !important;
    border-radius: 4px;
}

.login-header {
    padding: 32px 32px;
    text-align: left;
}

.login-header h1 {
    margin-bottom: 24px;
}

.login-body {
    padding: 40px 32px 57px 32px;
}

.FC-btn,
.FC-btn-email {
    display: flex !important;
    align-items: center;
    padding: 0 16px !important;
}

.FC-btn:hover {
    background-color: var(--white) !important;
    color: var(--fc) !important;
    text-decoration: underline !important;
    --shadow: 0 10px 6px -6px #777;
    box-shadow: var(--shadow);
}

.FC-text,
.FC-text-email {
    padding-left: 45px;
    font-weight: 350 !important;
    font-size: 20px !important;
    text-align: left;
}

.FC-text {
    color: var(--fc) !important;
}

.FC-text-email {
    color: #F2F2F2 !important;
}

.FC-text-bold {
    font-weight: 400 !important;
}